@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/images\ \(1\).jfif);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    background-color: rgba(0, 0, 0, 0.685);
    height: 480px;
    width: 320px;
    align-items: center;
    
    
}

.welcome {
    padding-top: 35px;
    text-align: center;
    color: whitesmoke;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    
}

input {
    width: 80%;
    background-color: #7a7878a9;
    border-style: none;
    margin: 35px;
    height: 35px;
    margin-bottom: 0 !important;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    
}

#start {
    background-color: #0e0d0d00;
    text-align: center;
    border: 0;
    color: whitesmoke;
    width: 100%;
    height: 71px;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    
    
}

.numb {
    padding-top: 15px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.prim {
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

#div2 {
    background-color: rgba(0, 0, 0, 0.685);
    height: 480px;
    width: 900px;
    align-items: center;
    display: none;
}

#min {
    background-color: #0e0d0d00;
    text-align: center;
    border: 0;
    color: whitesmoke;
    width: 240px;
    height: 71px;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    margin-left: 35px;
    margin-right: 350px;
    
}

#max {
    background-color: #0e0d0d00;
    text-align: center;
    border: 0;
    color: whitesmoke;
    width: 240px;
    height: 71px;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    
    
}

#yes {
    background-color: #0e0d0d00;
    text-align: center;
    border: 0;
    color: whitesmoke;
    width: 240px;
    height: 71px;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    margin-left: 35px;
    margin-right: 350px;
    
    
}

#restart {
    background-color: #0e0d0d00;
    text-align: center;
    border: 0;
    color: whitesmoke;
    width: 240px;
    height: 71px;
    font-size: 23px;
    font-family: 'Nunito', sans-serif;
    
    
}

#text {
    background-color: rgba(0, 0, 0, 0);
    height: 355px;
    width: 900px;
    align-items: center;
    text-align: center;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;

}

#div3 {
    background-color: rgba(0, 0, 0, 0.685);
    height: 480px;
    width: 900px;
    align-items: center;
    display: none;
}

#ques {
    background-color: rgba(0, 0, 0, 0);
    height: 280px;
    width: 900px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    margin-top: 80px;

}

#result {
    background-color: rgba(0, 0, 0, 0);
    height: 280px;
    width: 900px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    margin-top: 80px;
}